@import "../../../designSystem/variables";
@import "../../../designSystem/mediaQueries";

.wrapper {
  position: relative;
  margin-bottom: 1.5rem;

  &.fullWidth {
    width: 100%;
  }
}

.input {
  width: 100%;
  padding: 1rem;
  padding-top: 1.5rem;
  font-size: 1rem;
  border: 1px solid var(--neutral-border);
  border-radius: 0.5rem;
  background-color: transparent;
  color: var(--neutral-text);
  transition: outline-width 0.2s ease;
  font-family: inherit;

  &:focus {
    outline: 2px solid var(--accent-main);
    outline-offset: -2px;
  }

  &:focus + .label,
  &:not(:placeholder-shown) + .label {
    top: 0.5rem;
    font-size: 0.75rem;
    // color: var(--accent-main);
  }

  &.error {
    border-color: var(--accent-background);
  }

  &.error:focus {
    border-color: var(--accent-background);
  }

  &.multiline {
    resize: vertical;
    min-height: 4rem;
  }

  &.fullWidth {
    width: 100%;
  }
}

.label {
  position: absolute;
  left: 1rem;
  top: 1.2rem;
  font-size: 1rem;
  color: var(--neutral-text);
  transition: all 0.2s ease;
  pointer-events: none;
  background-color: transparent;
}

.errorText {
  display: block;
  font-size: 0.75rem;
  color: var(--accent-background);
  margin-top: 0.25rem;
  margin-left: 1rem;
}
