@import "@/designSystem/variables";
@import "@/designSystem/mediaQueries";

.cardDisplay {
  --width: 300px;
  --height: 360px;

  position: relative;
  padding: 1rem;
  margin: auto;
  max-width: var(--width);

  @include media-query("lg") {
    --width: 400px;
    --height: 460px;

    padding: 0 2.5rem;
  }

  .imageContainer {
    width: 100%;
    height: var(--height);
    position: relative;

    .backgroundImage {
      object-fit: cover;
      border-radius: var(--width) var(--width) 0 0;
      overflow: hidden;
    }

    .titleContainer {
      position: absolute;
      bottom: -1rem;
      left: -1rem;
      padding: 0.2rem 1rem;
      background-color: var(--accent-main);
      color: var(--neutral-background);

      z-index: 1;
    }
  }

  .descriptionContainer {
    margin-top: 2rem;
  }
}
