@use "sass:list";
@use "../../../../designSystem/variables";
@use "../../../../designSystem/mediaQueries";

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  flex: 0 1 auto;
  min-height: calc(100% + 1rem);
  margin: -0.5rem;

  & + & {
    margin-top: 1rem;
  }
}

.nowrap {
  flex-wrap: nowrap;
}

.fitContent {
  width: fit-content;
}

@each $bpName in variables.$breakpointsNames {
  @include mediaQueries.media($bpName, "min") {
    @each $al in variables.$align {
      $value: list.nth($al, 2);

      .#{$bpName}Align-#{$value} {
        align-items: $value;
      }
    }

    @each $ju in variables.$justify {
      $value: list.nth($ju, 2);

      .#{$bpName}Justify-#{$value} {
        justify-content: $value;
      }
    }

    @for $i from 1 to 20 {
      .#{$bpName}Order-#{$i} {
        order: $i;
      }
    }

    .#{$bpName}Reverse {
      flex-direction: row-reverse;
    }
  }
}
