.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  background-color: var(--primary-hover);

  .textWrapper {
    width: 100%;
    display: flex;
    margin-top: 30vh;
  }
}
