.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  max-height: 1150px;

  background-color: var(--neutral-text);

  overflow: hidden;
  position: relative;

  .backgroundImage {
    object-fit: cover;
    opacity: 0.5;
  }

  .textWrapper {
    width: 100%;
    display: flex;
    margin-top: 50vh;
    color: var(--neutral-background);
  }
}
