@import "@/designSystem/variables";
@import "@/designSystem/mediaQueries";
@import "@/designSystem/utils";

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  max-height: 1150px;

  background-color: var(--neutral-text);

  overflow: hidden;
  position: relative;

  .backgroundImage {
    object-fit: cover;
    object-position: left;
    opacity: 0.5;
  }

  .textWrapper {
    width: 100%;
    display: flex;
    margin-top: 50vh;
    color: var(--neutral-background);

    h1 {
      @include mediaQuery("sm", "max") {
        font-size: 4rem;
      }
    }
  }

  &.compact {
    height: 50vh;
    max-height: 600px;
    min-height: 400px;

    .textWrapper {
      margin-top: 25vh;

      @include mediaQuery("md", "max") {
        margin-top: 20vh;
      }
    }

    h1 {
      font-size: 4rem;

      @include mediaQuery("sm", "max") {
        font-size: 3rem;
      }
    }
  }
}
