@import "@/designSystem/variables";
@import "@/designSystem/mediaQueries";
@import "@/designSystem/utils";

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: start;
  top: 0;
  width: 100%;
  padding: 1rem 1rem;
  color: var(--neutral-background);
  z-index: 12;

  @include media-query("lg") {
    padding: 1.5rem 5rem;
    align-items: center;
  }

  .logoContainer {
    position: relative;
    height: 120px;
    width: 80px;

    @include media-query("lg") {
      height: 200px;
      width: 100px;
    }
  }

  .navbar {
    display: none;
    margin-bottom: 2rem;

    a {
      color: white;
    }

    @include media-query("lg") {
      display: flex;
    }

    &__button {
      @include toRem(font-size, $font-xl);
      margin-left: 2rem;
    }
  }

  .hamburger {
    display: block;
    width: 50px;
    height: 50px;

    @include media-query("lg") {
      display: none;
    }
  }
}
