@import "@/designSystem/variables";
@import "@/designSystem/mediaQueries";
@import "@/designSystem/utils";

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: start;
  top: 0;
  width: 100%;
  padding: 1rem 1rem;
  color: var(--neutral-background);
  z-index: 12;

  @include media-query("lg") {
    padding: 1.5rem 5rem;
    align-items: center;
  }

  .logoContainer {
    position: relative;
    height: 120px;
    width: 80px;
    z-index: 3;

    @include media-query("lg") {
      height: 200px;
      width: 100px;
    }
  }

  .navbar {
    display: none;
    margin-bottom: 2rem;
    z-index: 2;

    a {
      color: white;
    }

    @include media-query("lg") {
      display: flex;
    }

    &__button {
      @include toRem(font-size, $font-xl);
      margin-left: 2rem;
    }
  }

  .hamburger {
    cursor: pointer;
    display: block;
    width: 50px;
    height: 50px;
    z-index: 3;

    @include media-query("lg") {
      display: none;
    }
  }

  .menu {
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--accent-hover);

    z-index: 1;

    &--open {
      display: flex;
      opacity: 1;
      pointer-events: all;
    }

    @include media-query("lg") {
      display: none;
      pointer-events: none;
    }
  }
}
