@import "@/designSystem/variables";
@import "@/designSystem/utils";

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  padding: 1rem 5rem;

  z-index: 12;

  .logoContainer {
    position: relative;
    height: 200px;
    width: 100px;
  }

  .navbar {
    display: flex;

    &__button {
      @include toRem(font-size, $font-xl);
      margin-left: 2rem;
      color: var(--neutral-background);
    }
  }
}
