@import "@/designSystem/variables";
@import "@/designSystem/mediaQueries";
@import "@/designSystem/utils";

.footer {
  margin: 0 auto;
  margin-top: 10rem;
  padding: 4rem 2rem;
  color: var(--neutral-light);
  background-color: var(--neutral-text);

  border-radius: 2rem 2rem 0 0;

  max-width: 1440px;
}
