@use "../../../../designSystem/mediaQueries" as mq;

.container {
	--max-width: 1440px;

	display: flex;
	flex-direction: column;
	flex: 1;
	position: relative;

	width: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 0 1rem;

	@include mq.media("sm") {
		padding: 0 2rem;
	}

	@include mq.media("lg") {
		padding: 0 2.5rem;
	}
}

.fullHeight {
	height: 100%;
}
