@import "@/designSystem/variables";
@import "@/designSystem/mediaQueries";

.container {
  --max-width: 1440px;

  display: flex;
  flex-direction: column;
  flex: 1;

  position: relative;

  margin: 1rem auto;
  padding: 0 1rem;

  width: 100%;
  max-width: var(--max-width);

  @include media-query("lg") {
    padding: 0 2.5rem;
  }
}

.fullHeight {
  height: 100%;
}

.customWidth {
  max-width: var(--custom-width);
}
