.contact {
  .socialButton,
  .icon {
    color: var(--accent-main);
    transition: 0.3s all;

    &:hover {
      color: var(--accent-hover);
    }
  }

  .socialButton {
    display: flex;
    align-items: center;
    font-size: 1.2rem;

    &:hover {
      transform: translateX(5px);
    }
  }

  .icon {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }
}
