.contact {
  .socialContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .socialButton {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    background-color: var(--accent-main);
    color: white;
    padding: 0.5rem;
    padding-right: 2rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    transition: 0.3s all;

    &:hover {
      background-color: var(--accent-hover);
      // transform: translateX(5px);
    }
  }

  .icon {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    color: white;
  }
}
