@use "sass:list";
@use "../../../../designSystem/variables";
@use "../../../../designSystem/mediaQueries";

.col {
  box-sizing: border-box;
  max-width: 100%;

  padding: 0.5rem;
  flex: 1;

  & {
    min-height: auto;
  }
}

@each $bpName in variables.$breakpointsNames {
  @include mediaQueries.media($bpName, "min") {
    @each $col in variables.$columns {
      .#{$bpName}-#{$col} {
        flex-basis: #{calc(100 / 12) * $col} + "%";
        max-width: #{calc(100 / 12) * $col} + "%";
      }
    }

    @each $offset in variables.$offsets {
      .#{$bpName}Offset-#{$offset} {
        margin-left: #{calc(100 / 12) * $offset} + "%";
      }
    }

    @each $al in variables.$align {
      $value: list.nth($al, 2);

      .#{$bpName}AlignSelf-#{$value} {
        align-self: $value;
      }
    }

    @for $i from 1 to 20 {
      .#{$bpName}Order-#{$i} {
        order: $i;
      }
    }
  }
}
