@use "../../../designSystem/variables";
@use "../../../designSystem/mediaQueries";

.section {
  height: 100%;
  min-height: 80vh;
  padding: 2rem 0;

  background: var(--background-color);
  background-position: center;
  background-attachment: fixed;

  transition: padding 0.3s ease-in;

  position: relative;
  display: flex;
  align-items: center;

  .content {
    width: 100%;
    flex: 1;
  }

  .backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
