@import "@/designSystem/variables";
@import "@/designSystem/mediaQueries";

.section {
  --background-color: var(--neutral-background);

  height: 100%;
  min-height: 80vh;
  padding: 2rem 0;

  background: var(--background-color);
  background-position: center;
  background-attachment: fixed;

  transition: padding 0.3s ease-in;

  display: flex;
  align-items: center;

  .content {
    width: 100%;
    flex: 1;
  }
}
