$neutral-light: #f4f6ff;
$neutral-main: #9295a5;
$neutral-dark: #1c1d23;

$primary-light: #fee9dd;
$primary-main: #fcdad2;
$primary-dark: #eabdb6;

$accent-light: #f59eb3;
$accent-main: #e97f95;
$accent-dark: #e05d7c;

$secondary-light: #edbfe4;
$secondary-main: #c886ba;
$secondary-dark: #a4528f;

$thertiary-light: #ffdeb3;
$thertiary-main: #f3c98b;
$thertiary-dark: #eba055;
