@use "sass:map";
@use "variables";

// Mixin for both min-width and max-width media queries
@mixin media($breakpoint, $type: "min") {
  $query: "";

  @if $type == "min" {
    $query: "min-width: #{map.get(variables.$breakpoints, $breakpoint)}px";
  } @else if $type == "max" {
    $query: "max-width: #{map.get(variables.$breakpoints, $breakpoint) - 1}px";
  } @else {
    @error "Invalid media query type. Use 'min' or 'max'.";
  }

  @media only screen and (#{$query}) {
    @content;
  }
}
