@use "variables";
@use "utils";

h1,
h2,
h3,
h4 {
  font-family: var(--font-grotesk);
  font-weight: bold;
  line-height: 90%;

  & + & {
    margin-top: 1rem;
  }

  + p {
    margin-top: 1rem;
  }
}

h1 {
  @include utils.toRem(font-size, variables.$font-h-xxl);
}

h2 {
  @include utils.toRem(font-size, variables.$font-h-xl);
  font-size: 3.5rem;
}

h3 {
  @include utils.toRem(font-size, variables.$font-h-lg);
}

h4 {
  @include utils.toRem(font-size, variables.$font-h-md);
}

p {
  font-size: 1rem;

  & + & {
    margin-top: 1rem;
  }
}

// generic text modifiers
.text {
  &--align {
    &-left {
      text-align: left;
    }
    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }

  &--h {
    &-xs {
      @include utils.toRem(font-size, variables.$font-h-xs);
    }

    &-sm {
      @include utils.toRem(font-size, variables.$font-h-sm);
    }

    &-md {
      @include utils.toRem(font-size, variables.$font-h-md);
    }

    &-lg {
      @include utils.toRem(font-size, variables.$font-h-lg);
    }

    &-xl {
      @include utils.toRem(font-size, variables.$font-h-xl);
    }

    &-xxl {
      @include utils.toRem(font-size, variables.$font-h-xxl);
    }
  }

  &--p {
    &-xs {
      @include utils.toRem(font-size, variables.$font-xs);
    }

    &-sm {
      @include utils.toRem(font-size, variables.$font-sm);
    }

    &-md {
      @include utils.toRem(font-size, variables.$font-md);
    }

    &-lg {
      @include utils.toRem(font-size, variables.$font-lg);
    }

    &-xl {
      @include utils.toRem(font-size, variables.$font-xl);
    }

    &-xxl {
      @include utils.toRem(font-size, variables.$font-xxl);
    }
  }

  &--grotesk {
    font-family: var(--font-grotesk);
  }

  &--regular {
    font-weight: normal;
  }

  &--strong {
    font-weight: 700;
  }

  &--italic {
    font-style: italic;
  }
}
