@import "@/designSystem/variables";
@import "@/designSystem/mediaQueries";

.background {
  --sidebar-width: 300px;
  --background-color: var(--neutral-background);

  height: 100%;
  min-height: 100vh;

  // display: flex;
  // flex-direction: column;
  // justify-content: center;

  background: var(--background-color);
  background-position: center;
  background-attachment: fixed;

  transition: padding 0.3s ease-in;
}
