.background {
  --sidebar-width: 300px;

  height: 100%;

  // display: flex;
  // flex-direction: column;
  // justify-content: center;

  background: var(--background-color);
  background-position: center;
  background-attachment: fixed;

  transition: padding 0.3s ease-in;
}
