@import "@/designSystem/variables";
@import "@/designSystem/mediaQueries";

.cardFrame {
  --width: 300px;
  --height: 500px;
  --radius1: 15rem;
  --radius2: 1rem;

  margin: 3rem 1rem;

  @include mediaQuery("lg") {
    --width: 400px;
    --height: 600px;
    max-width: var(--width);
  }

  .imageContainer {
    width: 100%;
    height: var(--height);
    position: relative;

    .backgroundImage {
      object-fit: cover;
      border-radius: var(--radius1) var(--radius2) var(--radius1) var(--radius2);
      overflow: hidden;
    }

    .frame {
      position: absolute;
      top: 1rem;
      left: 1rem;

      width: 100%;
      height: 100%;

      border-radius: var(--radius1) var(--radius2) var(--radius1) var(--radius2);
      border: 0.5rem solid var(--accent-main);

      .icon {
        position: absolute;

        &_top {
          top: -4rem;
          left: 1rem;

          width: 8rem;
          height: 8rem;
        }

        &_bottom {
          bottom: -3rem;
          right: 2rem;

          width: 8rem;
          height: 8rem;
        }
      }
    }
  }
}
